+@font-face {
    font-family: 'ProximaNovaCondensed';
    src: url('fonts/ProximaNovaCond-Regular.woff') format('woff');
}
@font-face {
    font-family: 'ProximaNovaCondensedBold';
    src: url('fonts/ProximaNovaCond-Bold.woff') format('woff');
}

body {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 1280px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;

    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.57;
}

.cover {
    background: #000;
    text-align: center;
    color: #fff;
}

.cover-header {
    font-family: ProximaNovaCondensedBold, Arial, sans-serif;
    font-size: 36px;
    line-height: 1.16;
}

.cover-attributes {
    color: #ccc;
}