@font-face {
    font-family: 'ProximaNovaCondensed';
    src: url('fonts/ProximaNovaCond-Regular.woff') format('woff');
}
@font-face {
    font-family: 'ProximaNovaCondensedBold';
    src: url('fonts/ProximaNovaCond-Bold.woff') format('woff');
}

body {
    margin: 0;
    padding: 0;

    font: 14px/1.16 Arial, sans-serif; 
}

.navigation {
    background: #f5f5f5;
}


/*
Header Link
link, visited, hover, focus, active
*/

.header {
    display: flex;
    align-items: center;
    padding: 15px 0;
}

.header-link {
    font: 13px ProximaNovaCondensed, Arial, sans-serif;
    text-decoration: none;
}

.header-link:link,
.header-link:visited {
    color: #999;
}

.header-link:hover,
.header-link:focus {
    color: #09f;
    text-decoration: underline;
}

.header-link:active {
    color: #f00;
    text-decoration: underline;
}

.hh-logo {
    margin-right: 20px;
}

.menu-wrapper {
    background: #000;
}

.menu {
    font: 15px/40px ProximaNovaCondensed, Arial, sans-serif;
    color: #fff;
    margin: 0 -15px;
    display: flex;
    padding: 0;
}

/*
Menu Item
link, visited, hover, focus, active
*/

.menu-item {
    padding: 0 15px;
    text-decoration: none;
    height: 40px;
}

.menu-item_alt {
    margin-left: auto;
}

.menu-item:link,
.menu-item:visited {
    color: #fff;
}

.menu-item:hover,
.menu-item:focus,
.menu-item:active {
    background-color: #d10b0f;
    color: #fff;
}


.cover {
    height: 655px;
    background: #000 url("c/all.jpg") no-repeat 0 0;
    background-size: cover;
    text-align: center;
    color: #fff;    
}

.wrapper {
    box-sizing: border-box;
    width: 1280px;
    padding: 0 15px;
    margin: 0 auto;
}

.cover-content-header {
    font: 72px ProximaNovaCondensedBold, Arial, sans-serif;
}

.cover-content-attributes {
    color: #ccc;
}

.cover-content {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.cover-content-chapter {
    margin-bottom: 20px;
    padding: 200px 0 0;
}

.cover-content-header {
    margin-bottom: 10px;
}

.cover-content-lead {
    font-size: 18px;
    margin-bottom: 50px;
}

.cover-content-attributes {
    font-size: 12px;
}


/*
Content Chapter Link
link, visited, hover, focus, active
*/

.cover-content-chapter-link {
    color: #fff;
}

.cover-content-chapter-link:link,
.cover-content-chapter-link:visited {
    text-decoration: none;
}


.cover-content-chapter-link:hover,
.cover-content-chapter-link:focus {
    text-decoration: underline;
}

.cover-content-chapter-link:active {
    text-decoration: underline;
    color: #f00;
}


.cover-attribute_views {
    padding-left: 18px;
    margin-left: 15px;
    background: url("i/eye.svg") no-repeat 0 1px;
}

.cover-attribute_comments {
    padding-left: 18px;
    margin-left: 15px;
    background: url("i/chat.svg") no-repeat 0 1px;
}

.company {
    border: 1px solid #e1e1e1;
    padding: 20px 40px 20px 20px;
    margin: 40px 0 20px;
}

.company-name {
    font: 48px ProximaNovaCondensedBold, Arial, sans-serif; 
    margin: 0;
}


/*
Header Link
link, visited, hover, focus, active
*/

.company-url {
    margin: 0;
    text-decoration: none;
}

.company-url:link {
    color: #09f;
}

.company-url:visited {
    color: purple;
}

.company-url:hover,
.company-url:focus {
    color: #900;
    text-decoration: underline;
}

.company-url:active {
    color: #f00;
    text-decoration: underline;
}


.company-description {
    color: #666;
    margin: 40px 0 10px;
}

.company-logo {
    float: right;
}

.header-2 {
    font: 36px ProximaNovaCondensed, Arial, sans-serif;
    margin: 20px 0 10px; 
}

.article-pic {
    width: 100%;
    margin-bottom: 20px;
}

.text-main {
    font-size: 18px;
    line-height: 1.57;

    margin: 0 0 20px;
}


/*
Button Main
link (?), visited (?), hover, focus, active
*/

.button-main {
    height: 38px;
    border: 0;
    padding: 0 15px;

    background: #09f;    
    color: #fff;

    font-size: inherit;    
    line-height: inherit;

    cursor: pointer;
}

.button-main:hover,
.button-main:focus {
    background: #0af;
}

.button-main:active {
    background: #06f;
}

.comment-label {
    display: block;
    margin-bottom: 5px;
}

.comment-item {
    margin-bottom: 20px;    
}

.system-control {
    border: 1px solid #999;
    height: 38px;
    width : 100%;
    padding-left: 10px;
    font-size: inherit;

    border: 1px solid #cbd1d4;

    box-sizing: border-box;

    font: 14px/36px Arial, sans-serif;
}

.system-control::-webkit-input-placeholder {
    color: #ccc;
}

.system-control:hover {
    border-color: #acb5ba;
}

.vacancy-search {
    font-size: inherit;
    line-height: inherit;

    flex-grow: 1;
    display: flex;
    align-items: center;    
}

.vacancy-search-input {
    flex-grow: 1;
}

.vacancy-search-select {
    margin: 0 5px 0 -1px;

}

.vacancy-search-advanced,
.vacancy-search-button {
    margin-right: 30px;
}

.system-control_select {
    -webkit-appearance: none;

    width: auto;
    border-radius: 0;

    background: #f9f9f9 url('i/select.svg') no-repeat right center;

    padding: 0 25px 0 11px;
}

.system-control_text {
    height: 200px;
    padding: 10px;
    line-height: 1.57;
}

.locale {
    margin-left: 30px;
}

.locale-switcher {
    background: url('i/flag-ru.svg') no-repeat 0 0;
    background-size: 100% 100%;
    border: 0;
    border-radius: 0;
    width: 16px;
    height: 12px;
    text-indent: -9999px;
}

.footer {
    margin: 80px 0 30px;
    font-size: 12px;
    line-height: 1.57;
    color: #999;
}


/*
Footer Menu
link, visited, hover, focus, active
*/

.footer-menu {
    margin-bottom: 5px;
}

.footer-menu-item {
    border-right: 1px solid #ccc;
    text-decoration: none;
    white-space: nowrap;

    padding-right: 7px;
    margin-right: 5px;
}

.footer-menu-item:link,
.footer-menu-item:visited {
    color: inherit;
}

.footer-menu-item:first-child {
    color: #333;
}

.footer-menu-item:last-child {
    border-right: 0;
}

.footer-menu-item:hover,
.footer-menu-main:hover,
.footer-menu-item:focus,
.footer-menu-main:focus {
    color: #09f;
    text-decoration: underline;
}

.footer-menu-item:active,
.footer-menu-main:active
 {
    color:#f00;
    text-decoration: underline;
}


.footer-stat {
    margin-top: 30px;
}

.footer-social {
    float: right;
}

.row {
    display: flex;
    margin: 0 -15px;
}

.column {
    box-sizing: border-box;
    padding: 0 15px;
}

.column_l-0 {display: none;}
.column_l-1 {flex: 0 0 80px;}
.column_l-2 {flex: 0 0 160px;}
.column_l-3 {flex: 0 0 240px;}
.column_l-4 {flex: 0 0 320px;}
.column_l-5 {flex: 0 0 400px;}
.column_l-6 {flex: 0 0 480px;}
.column_l-7 {flex: 0 0 560px;}
.column_l-8 {flex: 0 0 640px;}
.column_l-9 {flex: 0 0 720px;}
.column_l-10 {flex: 0 0 800px;}
.column_l-11 {flex: 0 0 880px;}
.column_l-12 {flex: 0 0 960px;}
.column_l-13 {flex: 0 0 1040px;}
.column_l-14 {flex: 0 0 1120px;}
.column_l-15 {flex: 0 0 1200px;}
.column_l-16 {flex: 0 0 1280px;}

@media (max-width: 1340px) {
    .wrapper {
        width: 960px;
    }

    .column_m-0 {display: none;}
    .column_m-1 {flex: 0 0 80px;}
    .column_m-2 {flex: 0 0 160px;}
    .column_m-3 {flex: 0 0 240px;}
    .column_m-4 {flex: 0 0 320px;}
    .column_m-5 {flex: 0 0 400px;}
    .column_m-6 {flex: 0 0 480px;}
    .column_m-7 {flex: 0 0 560px;}
    .column_m-8 {flex: 0 0 640px;}
    .column_m-9 {flex: 0 0 720px;}
    .column_m-10 {flex: 0 0 800px;}
    .column_m-11 {flex: 0 0 880px;}
    .column_m-12 {flex: 0 0 960px;}
}